In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder 
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
data= pd.read_csv('dataset.csv')

In [10]:
le = LabelEncoder()
data=data.apply(le.fit_transform)
data

    Age  Income  Gender  Martial Status  Buys
0     1       0       1               1     0
1     1       0       1               0     0
2     0       0       1               1     1
3     2       2       1               1     1
4     2       1       0               1     1
5     2       1       0               0     0
6     0       1       0               0     1
7     1       2       1               1     0
8     1       1       0               0     1
9     2       2       0               1     1
10    1       2       0               0     1
11    0       2       1               0     1
12    0       0       0               1     1
13    2       2       1               0     0

In [4]:
data= data.drop('ID',axis=1)

In [5]:
X=data.drop('Buys',axis=1)
Y=data['Buys']

In [6]:
x_train, x_test, y_train, y_test = train_test_split(X,Y)

In [7]:
dt = DecisionTreeClassifier(criterion='entropy')
dt.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [8]:
y_pred=dt.predict(x_test)
y_pred

array([1, 1, 0, 1], dtype=int64)

In [9]:
acc=metrics.accuracy_score(y_pred,y_test)
acc

0.75

In [19]:
ip=[[1,1,0,0]]
ip=pd.DataFrame(ip,columns=['Age','Income','Gender','Marital Status'])

   Age  Income  Gender  Marital Status
0    1       1       0               0

In [21]:
print(dt.predict(ip))
if(dt.predict(ip)==1):
    print('Yes')
else:
    print('No')

[1]
Yes

In [23]:
from sklearn.tree import export_graphviz